*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  font: inherit;
  border: none;
}

button {
  border: none;
  background-color: initial;
  outline: none;
}

ul{
    list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  height: 100vh;
  --u: 10px;
  --c1: #3c486b;
  --c2: #f0f0f0;
  --c3: #f45050;
  --gp: 50% / calc(var(--u) * 16.9) calc(var(--u) * 12.8);
  background: conic-gradient(
        from 122deg at 50% 85.15%,
        var(--c2) 0 58deg,
        var(--c3) 0 116deg,
        #fff0 0 100%
      )
      var(--gp),
    conic-gradient(from 122deg at 50% 72.5%, var(--c1) 0 116deg, #fff0 0 100%)
      var(--gp),
    conic-gradient(from 58deg at 82.85% 50%, var(--c3) 0 64deg, #fff0 0 100%)
      var(--gp),
    conic-gradient(
        from 58deg at 66.87% 50%,
        var(--c1) 0 64deg,
        var(--c2) 0 130deg,
        #fff0 0 100%
      )
      var(--gp),
    conic-gradient(from 238deg at 17.15% 50%, var(--c2) 0 64deg, #fff0 0 100%)
      var(--gp),
    conic-gradient(
        from 172deg at 33.13% 50%,
        var(--c3) 0 66deg,
        var(--c1) 0 130deg,
        #fff0 0 100%
      )
      var(--gp),
    linear-gradient(98deg, var(--c3) 0 15%, #fff0 calc(15% + 1px) 100%)
      var(--gp),
    linear-gradient(-98deg, var(--c2) 0 15%, #fff0 calc(15% + 1px) 100%)
      var(--gp),
    conic-gradient(
        from -58deg at 50.25% 14.85%,
        var(--c3) 0 58deg,
        var(--c2) 0 116deg,
        #fff0 0 100%
      )
      var(--gp),
    conic-gradient(from -58deg at 50% 28.125%, var(--c1) 0 116deg, #fff0 0 100%)
      var(--gp),
    linear-gradient(90deg, var(--c2) 0 50%, var(--c3) 0 100%) var(--gp);
}

@keyframes fade-in {
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.Page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  color: #fff;
  display: flex;
  justify-content: center;
  scrollbar-width: none;
}

.Page::-webkit-scrollbar {
  display: none;
}

.app {
  width: 1140px;
  height: 1030px;
  box-shadow: 0 25px 150px rgba(0, 0, 0, 0.65);
  background-color: #f0f0f0;
  margin: 80px 0;
  display: grid;
  grid-template-columns: 355px 1fr;
  grid-template-rows: 65px 724px 1fr;
}

/* header */

.u-italic{
    font-style: italic;
}

.u-bold{
    font-weight: 500;
}

.u-bolder{
    font-weight: 800;
}
    
.u-accent{
    color: #f45050;
}

.u-underline{
    text-decoration: underline;
}


.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: #3c486b;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 26px;
  margin-right: 48px;
}

.search {
  position: relative;
}

.search__input {
  height: 36px;
  width: 405px;
  border: none;
  outline: none;
  border-radius: 500px;
  padding-left: 20px;
  transition: all 0.4s;
  background-color: #eef3f4;
  color: #0a0a0a;
  font-size: 15px;
}

.search__input:focus {
  width: 430px;
}

.search__input::placeholder {
  font-size: 16px;
}

.search__submit {
  font-size: 15px;
  border: none;
  color: #a9b4b7;
  position: absolute;
  right: 13px;
  top: 10px;
  cursor: pointer;
}

.search__icon {
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  color: #5d9c59;
  list-style: none;
}

.nav__item {
}

.nav__link {
  padding: 0 25px;
  height: 65px;
  display: block;
  transition: all 0.4s;
}

.nav__link:hover {
  background-color: #f45050;
}

.nav__icon {
  margin-top: 21px;
  line-height: 65px;
  font-size: 22px;
}

/* sidebar */

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  background-color: #3c486b;
}

.intro {
  padding: 30px 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.457);
}

.first-heading {
  line-height: 1;
  font-size: 40px;
}

.intro__text {
  font-size: 20px;
  line-height: 1.4;
  margin-top: 22px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0 30px;
}

.social__img {
  width: 40px;
  height: 40px;
  border-radius: 500px;
  border: 2px solid #fff;
  object-fit: cover;
}

.social__img:not(:first-child) {
  margin-left: -8px;
}

.social__container {
  flex-direction: column;
  margin-left: 10px;
}

.social__number {
  font-size: 24px;
}

.social__text {
  font-size: 12px;
  margin-left: 18px;
  margin-top: -5px;
}

.auth {
}

.btn {
  display: block;
  background-color: #5d9c59;
  padding: 12px 0;
  width: 290px;
  margin-top: 24px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.4s;
}

.btn:hover {
    background-color: #f45050;
    color: #FFF;
}

.auth__text {
  font-size: 16px;
  margin-top: 8px;
  text-align: center;
}

.btn__icon {
  margin-left: 2px;
}

.upload{
    padding: 45px 35px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.457);
}

.upload__container{
    height: 330px;
    border-radius: 3px;
    background-color: #5d9c59;
    border: 2px dashed rgba(8, 7, 7, 0.5);
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    transition: all 0.4s;
}

.upload__container:hover{
    background-color: #ffffff1a;
}

.upload__icon{

}

.upload__text{
    font-size: 18px;
}

.upload__alternative{
    font-size: 12px;
}

.footer{
    padding: 30px 30px;
    font-size: 14px;
    color: #a9b4b7;
}

.copyright{
}

.footer__list{
    font-size: 12px;
    display: flex;
    margin-top: 10px;
    gap: 20px;
}

.footer__item{

}    

.footer__link{

}

/* gallery */
.gallery {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 272px 60px 90px 64px 30px 208px;  
}

.gallery__img-wrapper{
position: relative;
animation: fade-in 1s;
}

.gallery__img-wrapper:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    animation: fade-in 1s 0.2s backwards;
}

.gallery__img-wrapper:nth-child(2){
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    animation: fade-in 1s 0.3s backwards;
}

.gallery__img-wrapper:nth-child(3){
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    animation: fade-in 1s 0.4s backwards;
}

.gallery__img-wrapper:nth-child(4){
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    animation: fade-in 1s 0.5s backwards;
}

.gallery__img-wrapper:nth-child(5){
  grid-column: 2 / 3;  
  grid-row: 4 / -1;
  animation: fade-in 1s 0.6s backwards;
}

.gallery__img-wrapper:nth-child(6){
    grid-column: 3 / -1;
    grid-row: 2 / 5;
    animation: fade-in 1s 0.7s backwards;
}

.gallery__img-wrapper:nth-child(7){
    grid-column: 1 / 2;
    grid-row: 5 / -1;
    animation: fade-in 1s 0.8s backwards;
}

.gallery__img-wrapper:nth-child(8){
  grid-column: 3 / -1;
  grid-row: 5 / -1;
  animation: fade-in 1s 0.9s backwards;
}


.gallery__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery__comment{
  position: absolute;
  }

.gallery__comment--1{
    background-color: #f45050;
    border-radius: 5PX;
    font-size: 20px;
    top: 10px;
}

.gallery__comment--2{
  background-color: #eeff00;
  border-radius: 3PX;
  color: #0a0a0a;
  font-size: 20px;
  top: 87%;    
}

.gallery__comment--3{
  background-color: #f45050;
  border-radius: 3PX;
  font-size: 20px;
  top: 87%;
}

.gallery__comment--4{
  background-color: #0a0a0a;
    font-size: 19px;
    top: 7%;
    border-radius: 10px;
}

.gallery__icon{
}

.gallery__number{
}

/* steps */

.steps {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: #3c486b;
    display: flex;
    align-items: center;
}

.step{
  font-size: 16px;
  text-align: center;
  padding: 0 20px;
}

.step__icon{
  font-size: 40px;
  width: 50px;
  height: 50px;
  line-height: 20px;
  border-radius: 50%;
  height: 50px;
  color: #fff;
}

.step__icon--1{
  color: #5d9c59;
}

.step__icon--2{
  color: #f45050;
}

.step__icon--3{
  color: #0a0a0a;
}

.step__text{
  font-size: 12px;
  margin-top: 10px;
  line-height: 1.9;
}

/* @media (max-width: 1300px) {
  .app {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 335px){
  .app{
    grid-template-columns: 1fr;
  }
} */

@media (max-width: 580px) {
  .sidebar {
    grid-column: 1/-1;
  }
  .gallery{
    display: none;
  }
  .steps{
    display: none;
  }
  .search__input{
    width: 200px;
  }
  .app{
    text-align: center;
  }
  .btn{
    width: 350px;
  }
}

@media (max-width: 815px){
  .gallery {
    grid-row: 2/4;
    grid-template-rows: 272px 60px 90px 64px 30px 208px 1fr;
    grid-template-columns: 1fr;
  }
  .gallery__img-wrapper:nth-child(3),
  .gallery__img-wrapper:nth-child(6),
  .gallery__img-wrapper:nth-child(8){
    display: none;
  }
  .step:nth-child(3){
    display: none;
  }
  .nav__link{
    display: none ;
  }
  .gallery__comment{
    display: none;
  }
  .gallery__img-wrapper:nth-child(1){
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}  